# Network Binding & Ports
PORT_HTTP=127.0.0.1:8080
PORT_WEBSOCKET=127.0.0.1:3012

# Feature Flags
WEBSOCKET_ENABLED=true

# Security Configuration (Disable signups after creating your account)
SIGNUPS_ALLOWED=true
